*{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(171, 171, 171);

}
header{
    width: 100%;
    text-align: center;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #1e1e1e;
}


#realTimeProducts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: rgba(255, 252, 252, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 10px;
    height: 500px;
    overflow:scroll;
    width: 300px;
}

.realTimeItem{
 display: flex;
 justify-content: space-between;
 gap: 20px;
 margin: 5px;
 width: 300px; 
}


.hideP{
    display: none;
}

.active{
    display: block;
}

#addProductContainer form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    box-shadow: rgba(255, 252, 252, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 10px;
}


#deleteProductContainer form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: whitesmoke;
    box-shadow: rgba(255, 252, 252, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 10px;
}

.homeHandlebars{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: rgba(255, 252, 252, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 10px;
    gap:20px
}

.homeHandlebars2{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.homeHandlebars2 button{
    height: 40px;
    width: 180px;
}

.homeProperties{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}

.navLink{
    color: white;
    text-decoration: none;
    margin:0 40px;
}

.navLink:hover{
    color: rgb(232, 205, 173);
}

/*Chat styles*/
.messageLogsContainer{
    display: flex;
    flex-direction: column
}

.cartContainer{
    box-shadow: rgba(255, 252, 252, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 10px;
}

.cartContainer h3{
    margin: 10px;
    background-color: white;
    color: #000000;
}

.itemContainer{
    box-shadow: rgba(255, 252, 252, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 10px;
    margin: 10px 0;
}

.noProductsCart{
    text-align: center;
}

.cartSearchContainer{
    width: 300px;
}

.cartErrorContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.listProductsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: rgba(255, 252, 252, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 20px;
    width: 90%;

}

.homeProductContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageProducts{
    display: flex;
}

.productControlsContainer{
    display: flex;
    justify-content: center;
    gap: 20px
}

.listProductsC{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

.itemProductContainer{
    display: flex;
    flex-direction: column;
}

.itemProductId{
    display: flex;
    gap: 5px;
}