<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/{{styleSheets}}.css">
</head>
<body>
    <header>
        <div>
            <a class="navLink" href="./home">Home</a>
            <a class="navLink" href="./products">Products</a>
            <a class="navLink" href="./realTimeProducts">Real Time Products</a>
            <a class="navLink" href="./chat">chat</a>

        </div>

    </header>
    <Main>
    {{{body}}}
    </Main>
</body>
</html>
